body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a; /* Dark background */
    color: #ffffff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#map-container {
    position: relative; /* Position relative to allow absolute positioning of children */
    width:  auto; /* Adjust based on how you want to handle the map size */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#map {
    width: 100%; /* Adjust based on how you want to handle the map size */
    height: auto; /* Keep aspect ratio */
    max-width: 100vw;
    max-height: 100vh;
    object-fit: contain;
}

#agent-icons {
    position: fixed;
    top: 50px;
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 20;
}

.agent-slot {
    width: 50px;
    height: 50px;
    margin: 10px 0;
    border: 2px solid #ba3a46;
    background-color: transparent; /* Empty background */
    display: inline-block;
    position: relative;
    background-size: cover; /* Ensures the image covers the slot */
    background-position: center; /* Centers the image */
}

.agent-slot:hover {
    border-color: #ffffff; /* Optional: highlight on hover */
}

.agent {
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 2px solid #ba3a46;
    background-color: #ba3a46;
    cursor: pointer;
}

.hidden {
    display: none;
}

#agent-selection {
    position: fixed;
    top: 50px; /* Adjust this value to position vertically */
    left: 150px; /* Adjust this value to position closer to the agent slots */
    transform: none; /* Remove the translation to prevent centering */
}

#slot-0 {
    position: relative;
    left: 0;
    top: 0;
}